thead {
	background-color: orange;
}
td {
	padding: 5px 8px;
}
th {
	padding: 8px;

}
tbody {
	background-color: pink;
	
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
